<div class="main">
    <div class="upper-section">
        <div class="text">
            Contact
        </div>
        <div class="links">
            <div class="upper-links">
                <div class="github">
                    <a href="https://github.com/Mttt7">
                        <i class="fa-brands fa-github"></i>
                    </a>

                </div>
                <div class="linkedin">
                    <a href="https://www.linkedin.com/in/michał-tomaszewski-858303271/">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>

                </div>
                <div class="instagram">
                    <a href="https://www.instagram.com/mtt.jpeg/">
                        <i class="fa-brands fa-instagram"></i>
                    </a>

                </div>
            </div>
        </div>

        <div class="links">
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                michalttomaszewski02&#64;gmail.com
            </div>

            <div class="cv">
                <a href="assets/Michal_Tomaszewski_CV2024.pdf" download>
                    <i class="fa-solid fa-download" style="color: #ffffff;"></i>
                    <div class="text-sm">Download CV</div>
                </a>

            </div>

        </div>

    </div>