<div class="main">
    <div class="upper-section">
        <div class="photo">
            <img src="../../../assets/images/profile_photo.jpeg" alt="">
        </div>
        <div class="text">
            <div class="porftolio-text">PORTFOLIO</div>
            <div class="name">Michał Tomaszewski</div>
        </div>
    </div>

    <div class="technologies">
        <div class="tech"><img src="../../../assets/images/technologies/angular_icon.png" alt=""></div>
        <div class="tech"><img src="../../../assets/images/technologies/spring_boot_icon.svg" alt=""></div>
        <div class="tech"><img src="../../../assets/images/technologies/mysql_icon.png" alt=""></div>
        <div class="tech"><img src="../../../assets/images/technologies/git_icon.png" alt=""></div>

    </div>

</div>